
#messages{
    display: flex;
    display: grid;
    grid-template-columns: 100% 0%;
}


// desktop
@media screen and (min-width: 1080px) and (max-width: 1920px) {
    #messages{
        display: flex;
        display: grid;
        grid-template-columns: 30% 70%;
    }
    
}

// ipad pro
@media screen and (min-width: 1024px) and  (max-width: 1366px) {
    #messages{
        display: flex;
        display: grid;
        grid-template-columns: 30% 70%;
    }
    
}   

// tablet
@media screen and (min-width: 767px) and  (max-width: 1023px) {
    #messages{
        display: flex;
        display: grid;
        grid-template-columns: 40% 60%;
    }
    
}
